*{
    margin: 0;
    padding: 0;
     
    box-sizing: border-box; 
}

html, body{
    width: 100%;
    height: 100%;

}

:root{
    --bg-color:#0000000;
    --primary-text-color : #f4f4f4;
    
    /* 1 rem = 16 px */
}

body{
    background-color: black;
    color: white;
}
